<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>netflix</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='static/css/main.css') }}">
</head>
<body>
    
    <div class="nav">
        <img src="/static/images/netflix-n-logo-0F1ED3EBEB-seeklogo.com.png" alt="" class="brandlogo">

        <ul class="navlist">
            <li class="listitems">Home</li>
            <li class="listitems">Movies & Shows</li>
            <li class="listitems">Recently Added</li>
            <li class="listitems">My List</li>
            <li class="listitems item"><a href="{{'main'}}">Sign Up</a></li>
        </ul>

        <div class="searchbar">
            <input type="text" placeholder="Search" class="searchinput">
            <button class="searchbtn">Let's Go</button>
        </div>
        
    </div>
<div class="separator"></div>

<h2>TV Comedies</h2>
<div class="container">
<div class="item1"></div>
<div class="item2"></div>
<div class="item3"></div>
<div class="item4"></div>
<div class="item5"></div>


</div>
<div class="separator"></div>

<h2>Trending From Last Month In Pakistan</h2>
<div class="container">
    <div class="item6"></div>
    <div class="item7"></div>
    <div class="item8"></div>
    <div class="item9"></div>
    <div class="item10"></div>
</div>
<div class="separator"></div> 

<h2>Top Rated Shows</h2>

<div class="container">
    <div class="item11"></div>
    <div class="item12"></div>
    <div class="item13"></div>
    <div class="item14"></div>
    <div class="item15"></div>
</div>
<div class="separator"></div> 
</body>
</html>