<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/netflix.css">
    <script src="https://kit.fontawesome.com/bae1d8da68.js" crossorigin="anonymous"></script>
    <title>Netflix | Pakistan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/static/css/netflix.css') }}">
  </head>
  <body>
    <!-- /* NAV AND HERO SECTION */ -->
    <div class="main">
      <nav>
        <span
          ><img src="/static/images/netflix-n-logo-0F1ED3EBEB-seeklogo.com.png" alt=""
        /></span>
        <div>
          <button class="btn"><a href="{{'login'}}">Login In</a></button>
          <button class="btn btn-red">News And Popular</button>
        </div>
      </nav>
      <div class="box"></div>
      <div class="hero">
        <span>Enjoy Big Movies, Hit Movies And More From Rs.400 </span>
        <span>Join Today, And Explore </span>
        <span
          >Ready to Watch? Enter Your Register Email And Begin Your
          Journey.</span
        >
        <div>
          <input type="text" placeholder="Enter Your Email Account" />
          <button class="btn btn-red-sm">Let's Go</button>
        </div>
      </div>
      <div class="separate"></div>
    </div>
    <section class="first">

      <div>
        <p>"Enjoy On Your TVs"</p>
        <p>Watch On Your Smarts Tvs, PlayStaion, Xbox, Apple And Many More.</p>
      </div>
      <div class="secimg">
        <img src="/static/images/22237-6-lcd-screen-tv.png" alt="">
        <video src="/static/videos/SAMSUNG.mp4" autoplay loop muted   ></video>
      </div>
      

    </section>
    <div class="separate1"></div>

    <section class="first second">

      
      <div class="secimg1">
        <img src="/static/images/Screenshot (39).png " alt="" class="phone">
        <img src="/static/images/1406-partner-movie-poster-with-salman-and-govinda.jpg" alt="" class="partner">
      </div>
      <div>
        
        <div class="head">
          
            <p>"Download Your Movies To Watch Offline"</p>
            <p>Save your favourite easily and always have something to watch</p>
       
          
        </div>
      

    </section>
    <div class="separate1"></div>

    
    <section class="first third">

      <div>
        <p>"Watch Everywhere"</p>
        <p>Stream Unlimited Movies , Videos And Shows On Your Tablets , Laptops And Phones.</p>
      </div>
      <div class="secimg">
        <img src="/static/images/22237-6-lcd-screen-tv.png" alt="">
        <video src="/static/videos/WhatsApp Video 2025-01-06 at 23.32.12_6ba71264.mp4"autoplay muted  class="vid" ></video> </div>
        <div class="images">
          
          <img src="/static/images/tablets.jpg" alt="" class="no2">
          <img src="/static/images/553cebde6b88064940a821daf98420f4.jpg" alt="" class="no1">
        </div>

        
        
     
      

    </section>
    <div class="separate2"></div>
   

   
    <section class="first four">

      
      <div class="secimg3">
        <img src="/static/images/childrens.jpg" alt="" class="children">
       
      </div>
      <div>
        <p>"Create Profile For Your Kids"</p>
        <p>Send Your Child On Adventurres With Their Favourite Heroes</p>
      </div>
      


    </section>  
    <div class="separate1"></div>

    <section class="faqs">
      <h2>Frequently Asked Questions</h2>
<div class="faqbox">
  <span>What is Netflix?</span>
  <i class="fa-solid fa-plus"></i>
</div>

<div class="faqbox">
  <span>What content is available on Netflix?</span>
  <i class="fa-solid fa-plus"></i>
</div>

<div class="faqbox">
  <span>What is the general information of Netflix?</span>
  <i class="fa-solid fa-plus"></i>
</div>

<div class="faqbox">
  <span>What is Netflix famous for?</span>
  <i class="fa-solid fa-plus"></i>
</div>

<div class="faqbox">
  <span>What is the best thing about Netflix?</span>
  <i class="fa-solid fa-plus"></i>
</div>

<div class="email">
  <div>
    <p>Ready to watch ? enter your email to create or restart your Netflix journey</p>
  </div>
  <div><input type="text" placeholder="Enter Your Email Address">
  <button>
Get Started>
  </button>
</div>
</div>

    </section>
    <div class="separate1"></div>
    
   
  </body>
</html>